<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>aioquic</title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1>React test</h1>
        
        <h2>Fast test launch</h2>
        <p> 
            The different tests will be loucnhed one after the other. Take a coffe and enjoy !
        </p>
        <form method="get" action="normal">
            <input class="submit" type="submit" value="Launch tests">
        </form>
        

        <h2>Test suit available</h2>
        <p> 
            The test suit following is meant to test client reaction to several network characteristics. Please use the button above to launch all of them. The following button will only launch the process from the test selected.
            Thanks !
        </p>

        <!img src="/photos/_B190077-Modifier.jpg" alt="Oiseau normal">


        <p> Test network with 0.1 sec delay</p>
        <form method="get" action="delay01">
            <input class="submit" type="submit" value="0.1 sec delay">
        </form>

        <p> Test network with 0.2 sec delay</p>
        <form method="get" action="delay02">
            <input class="submit" type="submit" value="0.2 sec delay">
        </form>

        <p> Test network with 0.5 sec delay</p>
        <form method="get" action="delay05">
            <input class="submit" type="submit" value="0.5 sec delay">
        </form>

        <p> Test network with 1 sec delay</p>
        <form method="get" action="delay1">
            <input class="submit" type="submit" value="1 sec delay">
        </form>

        <p> Test network with 10 sec delay</p>
        <form method="get" action="delay10">
            <input class="submit" type="submit" value="10 sec delay">
        </form>


        <p> Test network with 1% packet loss</p>
        <form method="get" action="loss01">
            <input class="submit" type="submit" value="1% pckt loss">
        </form>

        <p> Test network with 2% packet loss</p>
        <form method="get" action="loss02">
            <input class="submit" type="submit" value="2% pckt loss">
        </form>

        <p> Test network with 5% packet loss</p>
        <form method="get" action="loss05">
            <input class="submit" type="submit" value="5% pckt loss">
        </form>

        <p> Test network with 10% packet loss</p>
        <form method="get" action="loss1">
            <input class="submit" type="submit" value="10% pckt loss">
        </form>


        <p>
            This server runs thanks to aioquic, a QUIC and HTTP/3 implementation written in Python.
            <a href="https://github.com/aiortc/aioquic/">aioquic</a>,
            Many thanks to the devs !
        </p>
    </body>
</html>

